.jumbotron {
    text-align: center;
    font-variant-caps: small-caps;
    background-color: #FFFFF0;
    background-size: cover;
}

i.fas {
    text-decoration: none;
    color: #144900;
    margin-top: 1%;
    float: right;
}

i.fas:hover {
    color: #7cd85f;
}


body {
    background-color: #fffff0;
}

footer {
    margin-top: 2%;
    text-align: center;
    font-weight: 400;
    font-variant-caps: small-caps;
    color: #7d0600;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}